* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.wrapper {
  max-width: 1100px;
}
body {
    background-color: black;
    color: white;
    }
    
    .titulo {
      font-size: 16px; 
      color: yellow;
      margin: 10px;
      
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      
    }
    
    .fondo {
      padding: 5px;
      font-size: 45px; 
      letter-spacing: 18px;
      background-image: linear-gradient(black, red, black);
      text-align: center;
      text-shadow: 5px 8px 10px #222;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    
    .toyotita {
    width: 320px;
    height: 213px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    .lolelu {  
      width: 320px;
      height: 213px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .ek {
      width: 320px;
      height: 213px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .kimera {
      width: 320px;
      height: 213px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    

    
    nav {
      background-color: rgb(128, 7, 121);
      padding: 10px;
     
      
    }
    ul {
      background-color: rgb(9, 15, 3);
      padding: 5px;
      text-align: center;
      
     
      
    }
    li {
      background-color: rgb(46, 241, 20);
      color: rgb(15, 7, 7);
      margin: 5px;
      text-align: center;
     
    }
a {
  color: red;
  font-weight: bold;
  font-size: 22px;
}
    .mrstxt {
color: rgb(151, 252, 147);
margin: 0px 10px 80px 10px;
text-align: center;

    }

    .laureltxt {
color: rgb(151, 227, 250);
margin:  0px 10px 80px 10px;
text-align: center;
    }

  .ektxt {
color: rgb(253, 81, 81);
margin: 0px 10px 80px 10px;
text-align: center;
    }

    .sigmatxt {
      color:  rgb(231, 159, 49);
      margin: 0px 10px 80px 10px;
      text-align: center;
    }
    
    footer {
      text-align: center;
      color: white;
      margin: 0px 10px 80px 10px;
    }

    @media (min-width: 768px) {
      .logo {
        float: left;  
      }
    .titulo { 
    font-size: 24px;
    margin-top: 30px;
      }
      .fondo {
        margin-top: 40px;
      }

      .grab4 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        max-width: 768px;
        
      }
      .mimrs {
        width: 50%;
        float: left;
        margin-left: 20px;
        
      }
      .milaurel {
        
      }
      .miek {
        width: 50%;
        float: right; 
      }
      .misigma {
        width: 50%;
        margin-left: 20px;
      }
      .laureltxt {
        margin: 0px;
      }
}

@media (min-width: 1024px) {
  li {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .grab4 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    max-width: 1100px;
  }
  .mimrs {
    width: 30%;
    float: left;
    margin: 10px;
  }
  .milaurel {
    width: 30%;
    float: left;
    margin: 10px;
  }
  .miek {
    width: 30%;
    float: left;
    margin: 10px; 
  }
  .misigma {
    width: 30%;
    margin-left: 20px;
  }
}
      


    
    
